<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        DevOps Garage Solution Engineering
      </div>
    </div>
  </nav>
</header>
