<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        DevOps Garage Solution Engineering
      </div>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">GSE Teams</div>
          <div class="navbar-dropdown">
          <div class="navbar-item"><strong>Cloud Native</strong></div>
          <a class="navbar-item" href="https://ibm-cloud-architecture.github.io/Learning-Kabanero-101/web/1.0.0/kabanero-overview.html">Repository</a>
          <hr class="navbar-divider">
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
